@media (max-width: 1670px)
    .container
        max-width: 1500px
    .slider__avatar
        &-left-center
            position: absolute
            top: 326px
            left: -240px
        &-left-bottom
            position: absolute
            bottom: 33px
            left: -134px

@media (max-width: 1550px)
    .container
        max-width: 1400px
    .slider__avatar
        &-left-center
            top: 362px
            left: -195px

@media (max-width: 1450px)
    .container
        max-width: 1300px
    .slider__avatar
        &-right-center
            right: -149px
        &-right-bottom
            bottom: 37px
            right: -25px
        &-left-top
            left: -35px
        &-left-center
            top: 362px
            left: -130px
        &-left-bottom
            left: -65px

@media (max-width: 1350px)
    .container
        max-width: 1200px
    .slider__avatar
        &-right-top
            right: 22px
        &-right-center
            right: -104px
        &-right-bottom
            bottom: 37px
            right: 3px
        &-left-top
            left: -35px
        &-left-center
            top: 362px
            left: -80px
        &-left-bottom
            left: -24px

@media (max-width: 1200px)
    .slider__avatar
        display: none
    .slider
        &__item
            &-avatar
                display: block
            &-rectangle1
                 width: 85%
            &-rectangle2
                 width: 81%
            &-rectangle3
                 width: 78%
            &-text
                width: 67%


            