.store
    position: relative
    padding: 140px 0 
    // background-image: url('../img/slider_dat_bg.svg')
    // background-repeat: no-repeat
    // background-position: center 80%
    background: linear-gradient(180deg, rgba(236, 240, 253, 0) 0%, rgba(236, 240, 253, 0.53) 14.32%, #ECF0FD 45.83%, rgba(236, 240, 253, 0.43) 84.33%, rgba(236, 240, 253, 0) 100%)
    z-index: 1

    &__title
        display: block
        margin: 0 auto
        font-weight: 700
        font-size: 55px
        line-height: 70px
        color: #272D4E
        width: 550px
        text-align: center